<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Projection by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
		<header id="header">
			<div class="inner" id="navID">
				<a href="index.html" class="logo"><strong>EH</strong>ealth</a>
				<nav id="nav">
					<a href="index.html">Home</a>
				
					<a v-if="log" href="profile.html">Profile</a>
					<a v-if="!log" href="register.html">Register</a>
					<a v-if="!log" href="login.html">Login</a>
					<a v-if="log" href="javascript:signOut();">Log Out</a>

				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
		</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner" id="login">
					<header class="align-center">
						<h2>Login</h2>
						<input v-model="emailField" type="email" placeholder="Email"><br>
						<input v-model="passwordField" type="password" placeholder="Password"><br>

						<button v-on:click="registerUser">{{sample}}</button><br>
						<h2>{{wait}}</h2></header>
					<div class="image round left">
						<img src="images/pic01.jpg" alt="Pic 01" />
					</div>
					<p>Sample things you can talk about here, maybe some made up information on some of the doctors?</p>

					<div class="image round right">
						<img src="images/pic02.jpg" alt="Pic 02" />
					</div>
					<p>More places you can put things in</p>

					<p>Even more places</p>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Have any questions?</h3>
					<h2>Get in touch</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						Made at UTS SES 1A, Group 3 Spring 2020. Images: <a href="https://unsplash.com">Unsplash</a><div class="p"></div> <a href="http://">Source code can be found here</a>
					</div>

				</div>
			</footer>

		<!-- Scripts -->
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-auth.js"></script>

		<!-- TODO: Add SDKs for Firebase products that you want to use
			https://firebase.google.com/docs/web/setup#available-libraries -->
		<!-- <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script> -->

		<script>
		// Your web app's Firebase configuration
		var firebaseConfig = {
			apiKey: "AIzaSyBA2d2vzK_g3t3Ub7KQfRRsffocO0Eoi3E",
			authDomain: "uts-ses-1a.firebaseapp.com",
			databaseURL: "https://uts-ses-1a.firebaseio.com",
			projectId: "uts-ses-1a",
			storageBucket: "uts-ses-1a.appspot.com",
			messagingSenderId: "515479105350",
			appId: "1:515479105350:web:a85bad56a20ba250013f47",
			measurementId: "G-0J82RMX5FR"
		};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
		//firebase.analytics();
		const auth = firebase.auth();
		</script>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="./vueControllers/login.js"></script>
		<script src="./vueControllers/register.js"></script>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

	</body>
</html>